*.pyc
.project
.settings
.pydevproject
*.log*
build-stamp
configure-stamp
dist
debian/files
debian/helixtariff.postrm.debhelper
debian/helixtariff.debhelper.log
debian/helixtariff.substvars
debian/helixtariff
debian/LAST_VERSION
debian/changelog
src/generated-*
src/docs.html
src/helixcore
